.carousel .carousel-item::before {
  content: "";
  position: absolute;
  inset: -50% 0px;
  transform: scale(1, 0.5);
  width: 110%;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 30%, rgba(255, 255, 255, 0) 100%);
}/*# sourceMappingURL=index.css.map */