#loginPageContainer {
  height: 100vh;
  width: 100vh;
}

#loginLogo {
  width: 100px;
  height: 100px;
}

#loginCurtains {
  transition: transform 0.5s ease-out;
}/*# sourceMappingURL=loginPage.css.map */